<h1>Rooms#show</h1>
Room name: <%= @room.room_name %>
<br>
Member name :
<br>
<%= link_to("new post in room", new_room_post_path) %> &ensp;
<%= link_to("exit room", member_path, {method: "delete"}) %> &ensp;
<%= link_to("enter room", new_member_path) %> &ensp;

<div>
  <p>All Posts in the Room (<%= @room.room_name %>)</p>
  <p>------------------------------------------------------------</p>
  <% @posts.each do |post| %>
    <%= link_to(post.user.name, user_path(post.user)) %>
    <%= link_to(post.content, posts_path(post.id)) %>
    <p>------------------------------------------------------------</p>
    <br>
  <% end %>
</div>

<br><br>
<% if user_signed_in? %>
  <% if @room.create_user_id.to_i == current_user.id %>
    Room
    <%= link_to("edit", edit_room_path) %>
    <%= link_to("delete", room_path, {method: "delete"})%>
  <% end %>
<% end %>
