<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

  <br><br>
  <div class="footer">
    <%= link_to("Top", "/") %> &ensp;
    <% if session[:user_id] == nil %>
      <%= link_to("log in", "/login") %> &ensp;
      <%= link_to("sign up", "/signup") %> &ensp;
    <% else %>
      <%= link_to("post index", "/posts/index") %> &ensp;
      <%= link_to("new post", "/posts/new") %> &ensp;
      <%= link_to("user index", "/users/index") %> &ensp;
      <%= link_to("log out", "/logout") %> &ensp;
    <% end %>
  </div>

</html>
