<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <br><br>
    <div class="footer">
      <%= link_to("Top", "/") %> &ensp;
      <% if user_signed_in? %>
        <%= link_to("user index", users_path) %> &ensp;
        <%= link_to("post index", posts_path) %> &ensp;
        <%= link_to("new post", new_post_path) %> &ensp;
        <%= link_to("room index", rooms_path) %> &ensp;
        <%= link_to("new room", new_room_path) %> &ensp;
        <%= link_to("log out", destroy_user_session_path) %> &ensp;
        <%= link_to("test", "/users/test")%>
      <% else %>
        <%= link_to("log in", user_session_path) %> &ensp;
        <%= link_to("sign up", new_user_registration_path	) %> &ensp;

      <% end %>
    </div>
  </body>
</html>
